<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Favorite Quotes</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" >
  </head>

  <body>
    <nav style="margin-top:25px;margin-left:45px">
      <a class="btn btn-primary" href="{{ url_for('quotes') }}">Add a quote</a>
    </nav>
    <br>

    <div class="container theme-showcase" role="main">

      <div style="color:#fff; background-color:orange", class="jumbotron">
        <h1>Favorite Quotes</h1>
      </div>
      <!--for loop starts-->
      <section class="bg-light">
      <div class="container py-0 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-10 col-xl-8">
          {% for r in result %}
            <figure class="note note-primary p-4">
              <blockquote class="blockquote">
                <p class="pb-2">
                  {{ r.quote }}
                </p>
              </blockquote>
              <figcaption class="blockquote-footer mb-0">
                {{ r.author }}
              </figcaption>
            </figure>
          {% endfor %}
          </div>
        </div>
      </div>
      </section>

      <!-- for loop ends here..-->

    </div> <!-- /container -->
    <br>
    <hr>
    <p>Python Developer: Python/Django/Flask/PostgreSQL/MySQL/API</p>

  </body>
</html>
